@import url(https://fonts.googleapis.com/css?family=Exo:400,100,200,300,500,600,700,800,900);
/*son*/
.sf-menu {
	/* margin-left: 200px !important; */
}
.gdlr-logo{
	position: relative;
	width: 200px;
	padding: 0;
	float: left;
	z-index: 2;
	padding-top: 23px;
	text-align: left;
}.gdlr-navigation-wrapper.gdlr-fixed-nav{z-index: 1;position: relative;top: 0 !important;float: right;}
.gdlr-page-title-wrapper::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 33%,rgba(0,0,0,0.44) 67%,rgba(76,76,76,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.9) 33%,rgba(0,0,0,0.44) 67%,rgba(76,76,76,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#004c4c4c',GradientType=1 );
}
.gdlr-page-title-wrapper {
	padding: 142px 0px 67px 0px;
	position: relative;
	text-align: center;
	line-height: 1;
	z-index: 1;
	background-size: cover;
}
.gdlr-page-title, .gdlr-page-title-gimmick {
	color: #ffffff;
	text-align: left;
}
.gdlr-video-item.gdlr-item {
	padding: 10px;
	border: 1px solid #ddd;
}
.msp-preset-btn-159:hover{
	color: #fff;
	box-shadow: 0 4px #ad4500;
}
.msp-preset-btn-159 {
	background-color: #ff6a00;
	color: #fff;
	box-shadow: 0 5px #ad4500;
	position: relative;
	opacity: 1;
	margin: 0px;
	padding: 8px 25px;
	font-size: 22px;
	width: 171px;
	border-radius: 5px;
}
.ms-slide-layers h3.shadow {text-shadow: 2px 2px 2px black;}
.ms-slide-layers {
	text-transform: uppercase;

}

.aligncenter {
	border-radius: 9px;
}
#hero-home,#service-home {/* border-top:5px solid #ECECEC */}
#hero-home .gdlr-title-item .gdlr-item-title-wrapper .gdlr-item-title{font-size: 3em;color:white}
#hero-home .gdlr-item-title-wrapper.pos-center .gdlr-item-title-caption{margin: 5px;font-size: 1.5em ;color:white;}
.btn-lg-orange {
	width: 100%;
	color: #ffffff;
	background-color: #FA6C07 !important;
	border-color: #B95005;
	text-transform: uppercase;
	border-radius: 4px;
	box-shadow: 0 2px 0 #A24B0D;
}
#black_button a:hover {
	color: #fff;
	background-color: #333;
}
.text-center{text-align: center}
.gdlr-button{min-width: 200px;border-radius: 4px;text-align: center;}
#black_button a {
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 10px 20px;
	text-align: center;
	background-color: #121f1f;
	border: 1px solid #f2f2f2;
	font-weight: bold;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: 5px solid #000000;
	color: white;
	display: block;
	border-radius: 3px;
}
.master-slider-parent {
	padding-bottom: 0px !important;
}
.gdlr-navigation-wrapper {
	background: none;
	/* float: right; */
}
.overlay .ms-slide-bgcont{position: relative}
.overlay .ms-slide-bgcont:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	background: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 33%,rgba(0,0,0,0.44) 67%,rgba(76,76,76,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.9) 33%,rgba(0,0,0,0.44) 67%,rgba(76,76,76,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#004c4c4c',GradientType=1 );

}
.overlay .ms-slide-layers h1,.overlay .ms-slide-layers h2{
	position: relative;z-index: 10;color: white;text-shadow: none !important;
}
.btn-slider{
	line-height: 46px;
	border: 1px solid #fff;
	border-radius: 3px;
	display: inline-block;
	font-family: 'Ubuntu',sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	padding: 0 30px;
}
.btn_transparent {
	background: transparent;
}
.btn-slider:hover{
	color: white;
}
.exo{
	font-family: 'Exo', sans-serif;
}

.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{background: #9b1a21;background: rgba(26, 106, 155, 0.11);}
.gdlr-main-menu > li > a, #gdlr-menu-search-button{color: #585354;}
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{color: #464040;opacity: 1;filter: alpha(opacity=100);}
.gdlr-main-menu > li > .sub-menu a:hover, .gdlr-main-menu > li > .sub-menu .current-menu-item > a, .gdlr-main-menu > li > .sub-menu .current-menu-ancestor > a, .gdlr-main-menu > li > .sf-mega a:hover, .gdlr-main-menu > li > .sf-mega .current-menu-item > a, .gdlr-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #ffffff; } .gdlr-main-menu .gdlr-normal-menu li > a.sf-with-ul:after { border-left-color: #ffffff; }
.gdlr-main-menu .sf-mega-section-inner > ul > li > a:hover, .gdlr-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #2a2a2a; }
.gdlr-item-title-wrapper .gdlr-item-title, .gdlr-result-by-month-header{color: #F6C159;border-color: #8BC34A;margin-bottom: 20px;}
.portfolio-item-filter, .portfolio-item-filter a, .fixture-result-item-filter, .fixture-result-item-filter a, .player-item-filter, .player-item-filter a{color: #787878;font-weight: 500;}
.portfolio-item-filter a.active{font-weight: bold;color: #4b4b4b;}
.gdlr-soccer-player-general-info-right, .single-player .gdlr-soccer-player-title, .single-player .gdlr-soccer-player-title-info{ color: #ffffff; }
.gdlr-soccer-player-tab-title-wrapper{ background-color: #f0f0f0; }
.gdlr-soccer-player-tab-title-wrapper, .gdlr-soccer-player-tab-title-wrapper a{ color: #787878; }
.gdlr-soccer-player-tab-title-wrapper a:hover, .gdlr-soccer-player-tab-title-wrapper a.active{ color: #393939; }
.gdlr-soccer-tab-player-info li { background-color: #f3f3f3; }
.gdlr-soccer-tab-player-info li { border-top-color: #e1e1e1; }
.gdlr-soccer-tab-player-info li { color: #555555; }
.gdlr-soccer-single-player-stats-tab.gdlr-item{ border-top-color: #545454; }
.gdlr-soccer-single-player-stats-tab, .gdlr-soccer-single-player-stats-tab a{ color: #787878; }
.gdlr-soccer-single-player-stats-tab a:hover, .gdlr-soccer-single-player-stats-tab a.active{ color: #393939; }
.gdlr-soccer-tab-player-stats li { background-color: #a73233; }
.gdlr-soccer-tab-player-stats li { border-top-color: #cc6161; }
.gdlr-soccer-tab-player-stats li { color: #ffffff; }
.gdlr-modern-player .gdlr-modern-player-item-overlay, .gdlr-classic-player .gdlr-soccer-player-thumbnail{ background-color: #aa4243; }
.gdlr-classic-player .gdlr-soccer-player-squad, .gdlr-classic-player .gdlr-soccer-player-title a{ color: #353535; }
.gdlr-classic-player .gdlr-soccer-player-position{ color: #9a9a9a; }
.gdlr-modern-player .gdlr-modern-player-item-content, .gdlr-modern-player .gdlr-modern-player-item-content a, .gdlr-modern-player .gdlr-modern-player-item-content a:hover{ color: #ffffff; }
.gdlr-soccer-match-results-wrapper{ color: #ffffff; }
.gdlr-soccer-match-results-overlay{ background-color: #a73233; }
.upcoming-match-overlay{ background-color: #aa4243; }
.upcoming-match-info-overlay{ background-color: #000000; }
.upcoming-match-item-wrapper, .upcoming-match-item-wrapper a{ color: #ffffff; }
.small-result-item.even, .result-in-month.even{ background-color: #f3f3f3; }
.small-result-item.odd, .result-in-month.odd{ background-color: #ebebeb; }
.gdlr-small-league-table th{ background-color: #212121; } .gdlr-small-league-table tr:first-child{ border-color: #212121; }
.gdlr-small-league-table th{ color: #ffffff; }
.gdlr-small-league-table{ background-color: #f5f5f5; }
.gdlr-small-league-table *{ border-color: #dedede; }
.gdlr-league-table tr th{ color: #ffffff; }
.gdlr-league-table tr th{ border-color: #000000; }
.gdlr-league-table .gdlr-table-first-head th{ background-color: #373737; }
.gdlr-league-table .gdlr-table-second-head th{ background-color: #212121; }
.gdlr-league-table tr td{ border-color: #e1e1e1; }
.gdlr-league-table tr:nth-child(even) td{ background-color: #ebebeb; }
.gdlr-league-table tr:nth-child(odd) td{ background-color: #f3f3f3; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus,
html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus,
html .woocommerce-page #content .quantity .minus { border: 1px solid #a0a0a0; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus,
html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus,
html .woocommerce-page #content .quantity .minus { color: #ffffff; }
body.single.single-post .gdlr-blog-full .gdlr-blog-thumbnail img {
	display: none;
}
div#html5-watermark {
	opacity: 0 !important;
}

/*son*/
.portfolio-item-filter .gdlr-saperator:nth-of-type(2) ,#portfolio-home .portfolio-excerpt{
	/* display: none; */
}
#service-home .gdlr-item-title-wrapper.pos-center .gdlr-item-title-caption{margin-top:0}
.gdlr-stunning-text-item.with-padding.gdlr-button-on{padding-right: 320px;}

.quote-form p{
	color: white;
}
.quote-form .wpcf7 input[type="submit"]{
	width: 200px;
	color: #4b4b4b;    background: #FFEB3B;
}
.quote-form{
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
	background: #455779;
	box-shadow: 1px 1px 5px #4b4b4b;
	border-radius: 3px;
}
section#content-section-3 h3.gdlr-item-title.gdlr-skin-title.gdlr-skin-border {
	font-size: 35px;
	margin: 0;
}

.footer-wrapper .copyright-wrapper {
	border-color: #292F38;
	padding: 8px 0;
	background: #0e181e;
	color: white;
	z-index: 2;
	position: relative;
}
.copyright-wrapper {
	color: #828282;
}
.copyright-wrapper {
	background-color: #292F38;
}
.footer-wrapper {
	color: #E2E0E0;
}
.footer-wrapper {
	background-color: #313944;

	position: relative;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(../images/footer_bg.jpg);
	background-size: cover;
	position: relative;
	background-attachment: fixed;

}

.footer-wrapper a {
	color: #EAE7E7;
}
.footer-wrapper a {
	cursor: pointer;
}
#client3,#client4,#client5{
	margin-top: 30px;
}
#client-title .gdlr-item-title-wrapper.pos-center .gdlr-item-title-caption {
	margin: 0;
	font-size: 13px;
	color: #CCCBCA;
	max-width: 600px;
	margin: 0 auto;
}
#client-title .gdlr-title-item .gdlr-item-title-wrapper .gdlr-item-title{margin-bottom: 10px;}
#client2 img{    width: 160px;}
#service-home a{color: #454545}
#itstaffing img{margin-top: 90px;    margin-bottom: 100px;}

.gdlr-header-inner {
	position: relative !important;
	background: #1cb9c8;
}
.top-navigation-wrapper  .top-navigation-left{
	position: relative;
}
.top-navigation-wrapper  .top-navigation-right{
	position: relative;
	float: right;
	right: initial;
	top: initial;
}
.top-navigation-wrapper {
	color: #ffffff;
	position: relative;
	z-index: 999;
	background: white;
}
.gdlr-header-wrapper.gdlr-no-height{
	position: relative;
	top: 0 !important;
}
.gdlr-navigation-wrapper.gdlr-fixed-nav #gdlr-menu-search-button,#gdlr-menu-search-button{
	padding: 40px 0 0 0;

}
#gdlr-menu-search,.gdlr-navigation-wrapper.gdlr-fixed-nav #gdlr-menu-search-button,#gdlr-menu-search-button {

	color: white;

	float: right;

	position: relative;

	right: 0;
}
.gdlr-navigation-wrapper .gdlr-main-menu > li > a{
	color: #fff;
	font-size: 14px;
	line-height: 70px;
	text-transform: uppercase;
	display: block;
	padding: 0 18px;
	font-weight: 600;
	position: relative;
	font-family: "Roboto",sans-serif;
	font-weight: 500;
}
.social_icons li a::before {
	position: absolute;
	content: "";
	-webkit-transition: 0.2s;
	transition: 0.2s;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #1cb9c8;
	-webkit-transform: scale(0);
	transform: scale(0);
	border-radius: 50%;
	z-index: -1;
}
.social_icons li, .tiny_header .contact_lang li {
	display: inline-block;
}
.social_icons {
	display: inline-block;
	float: right;
}
.social_icons li a {
	font-size: 12px;
}

.social_icons li a {
	line-height: 25px;
	color: #1cb9c8;
	display: block;
	text-align: center;
	position: relative;
	z-index: 1;
	border: 1px solid #1cb9c8;
	border-radius: 50%;
	margin-right: 5px;
}
.social_icons li a:hover {
	color: #fff;
}
.social_icons li a::before {
	position: absolute;
	content: "";
	-webkit-transition: 0.2s;
	transition: 0.2s;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #1cb9c8;
	-webkit-transform: scale(0);
	transform: scale(0);
	border-radius: 50%;
	z-index: -1;
}
.social_icons li a {
	width: 26px;
	transition: 0.4s;
}
.social_icons li a:hover::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
header .contact_email {
	float: left;
}
header .contact_email ul{
	margin: 0;
}
header .contact_email ul,.social_icons ul {
	margin-bottom: 0;
}
header .contact_email ul li {
	display: inline-block;
	margin-right: 17px;
}
.top-navigation-container.container {
	padding: 10px 0;
}
.contact_email ul li a, .contact_email ul li span {
	color: #8e8e8e;
	font-size: 12px;
	font-weight: 300;
}
.contact_email ul li span i {
	color: #1cb9c8;
	font-size: 12px;
	margin-right: 7px;
}
nav#gdlr-main-navigation{
	float: left;
	margin-right: 13px;
}

#gdlr-menu-search input[type="text"] {
	margin: 0px;
	background: transparent;
	padding: 11px 10px;
	/* background: white; */
	/* border-radius: 2px; */
	width: calc(100% - 48px);
	color: #6f6e6e;
}
#gdlr-menu-search{position: absolute;top: 16px;background: none;right: 0;}
#gdlr-menu-search #searchform{background: white;border-radius: 2px;}
#gdlr-menu-search #searchform i{color: #4b4b4b;cursor: pointer}

.wrap-search:hover #gdlr-menu-search{
	display: block !important;
}

body .ms-skin-default .ms-bullet {

	border: 0;
	margin-bottom: 20px; width: 15px; height: 2px;
	box-shadow: none !important;
	transition:all 0.3s;
	background: white;
}
body .ms-skin-default .ms-bullet-selected { 	background: white ; }
body .ms-skin-default .ms-inner-controls-cont { position: static; }
body .ms-skin-default .ms-bullet.ms-bullet-selected,
body .ms-skin-default .ms-bullet:hover {	background: #1cb9c8 ; ; }
body .ms-skin-default .ms-slide .ms-slide-vcbtn { top: auto; bottom: 60px; right: 50%; margin-right: -14px; }

.btn_colored {
	background: #1cb9c8;
	border: 1px solid #1cb9c8;
}
.about_us_btn .business_btn {
	padding: 0 34px;
}

.business_btn {
	line-height: 46px;
	border: 1px solid #fff;
	border-radius: 3px;
	display: inline-block;
	color: #fff !important;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}
.business_btn {
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.btn_colored:hover, .business_btn.btn_colored:hover {
	background: #fff;
	border-color: #fff;
	color: #1cb9c8 !important;
	border-color: #1cb9c8;
}.highlighted {
	 font-weight: 500;
	 color: #1cb9c8;
 }
.about_us_title {
	position: relative;
}
.about_us_image{
	margin-bottom: 0;
	position: relative;
}
.about_us_image:before {
	top: 0;
}
.about_us_image:after {
	bottom: 1px;
}
.about_us_image:before, .about_us_image:after {
	content: "";
	position: absolute;
	width: calc(100% - 159px);
	height: 5px;
	background: #1cb9c8;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.about_us_title h1::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background: #1cb9c8;
	bottom: -20px;
}
.promo_btn {
	float: right;
}
.promo_text {
	display: inline-block;
	float: left;
}
#call_to_action .promo_text .focused {
	font-weight: 700;
	font-size: 36px;
}
.hero_btn {
	min-width: 150px;
	margin-right: 7px;
}
#call_to_action .promo_text {
	color: #fff;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	font-family: "Roboto",sans-serif;
}



.gdlr-item.gdlr-portfolio-item:hover .portfolio_item_top_layer:before,
.gdlr-item.gdlr-portfolio-item:hover .portfolio_item_top_layer:after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: width .3s linear 0s, height .3s linear .3s;
	transition: width .3s linear 0s, height .3s linear .3s;
}
.gdlr-image-link-shortcode .gdlr-image-link-overlay,
.portfolio-thumbnail .portfolio-overlay{ background-color: #0a0101; }
.gdlr-image-link-shortcode .gdlr-image-link-icon,
.portfolio-thumbnail .portfolio-overlay-wrapper .portfolio-icon{ background-color: red; }
.gdlr-image-link-shortcode .gdlr-image-link-overlay-wrapper i,
.portfolio-thumbnail .portfolio-overlay-wrapper i{ color: #ffffff; }

/*--- portfolio ---*/


.portfolio_item_top_layer{
	position: absolute;
	top: 0;
	width: calc(100% - 60px);
	left: 30px;
	text-align: center;
	top: 30px;
	height: calc(100% - 60px);
	z-index: 12;
}
.portfolio_item_top_layer:before,
.portfolio_item_top_layer:after{
	position: absolute;
	content: "";
	width: 0px;
	height: 1px;
	opacity: 0;
	-webkit-transition: width .3s linear .3s, height .3s linear .0s;
	transition: width .3s linear .3s, height .3s linear .0s;
}
.portfolio_item_top_layer:before{
	left: 0;
	top: 0;
	border-right: 1px solid #b3aeae;
	border-top: 1px solid #b3aeae;
}
.portfolio_item_top_layer:after{
	right: 0;
	bottom: 0;
	border-bottom: 1px solid #b3aeae;
	border-left: 1px solid #b3aeae;
}
.gdlr-item.gdlr-portfolio-item:hover .portfolio_item_top_layer:before,
.gdlr-item.gdlr-portfolio-item:hover .portfolio_item_top_layer:after{
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: width .3s linear 0s, height .3s linear .3s;
	transition: width .3s linear 0s, height .3s linear .3s;
	z-index: 2;
}
.portfolio_item_top_layer .content_wrapper{
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 2;
	left: 50%;
	z-index: 123;
}
.portfolio_item_top_layer .content_wrapper .links a{
	width: 35px;
	height: 35px;
	background: #0f1923;
	display: inline-table;
	border-radius: 50%;
	margin-right: 6px;
	opacity: 0;
	visibility: hidden;
}
.portfolio_item_top_layer .content_wrapper .links a:hover{
	background: #1cb9c8;
}
.portfolio_item_top_layer .content_wrapper .links span{
	color: #fff;
	vertical-align: middle;
	display: table-cell;
}
.gdlr-item.gdlr-portfolio-item:hover .links a {
	-webkit-transform: translate(0);
	transform: translate(0);
	visibility: visible;
	opacity: 1;
}

.portfolio_item_top_layer .content_wrapper .links a {
	width: 35px;
	height: 35px;
	background: #0f1923;
	display: inline-table;
	border-radius: 50%;
	margin-right: 6px;
	opacity: 0;
	visibility: hidden;
	z-index: 4;
}



.portfolio-thumbnail.gdlr-image{
	position: relative;
}
.portfolio-thumbnail.gdlr-image:before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(27,41,50,0.85);
	top: 0;
	left: 0;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}
.gdlr-item.gdlr-portfolio-item:hover  .tag {
	opacity: 1;
	visibility: visible;
	transition: all  0.1s;
	letter-spacing: 0.4px;
}

.tag {
	color: #fff;
	font-weight: 700;
	font-family: "Ubuntu",sans-serif;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	letter-spacing: 2px;
	margin-top: 12px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 16px;
}
.gdlr-item:hover .portfolio-thumbnail:before {
	visibility: visible !important;
	opacity: 1 !important;
}
#section-portfolio .gdlr-item-title-wrapper.gdlr-item{
	margin-bottom: 15px;
}
#section-portfolio .gdlr-item-title-wrapper.pos-center .gdlr-item-title-caption{
	font-size: 12px;
	margin: 0;
}
.sub_text {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 0 21px;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
}
.section_title .title {
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	line-height: 36px;
	font-size: 30px;
	color: #0f1923;
	position: relative;
	margin-bottom: 43px;
	text-align: center;
	text-transform: uppercase;
}
.section_title .title:before {
	position: absolute;
	content: "";
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 50px;
	height: 2px;
	background: #1cb9c8;
	bottom: -20px;
}

.hidden{
	display: none;
}
.gdlr-item ,.gdlr-classic-portfolio.gdlr-item,.gdlr-classic-portfolio .portfolio-thumbnail {
	margin: 0px;
	min-height: 1px;
}
.gdlr-classic-portfolio .portfolio-thumbnail img{
	transform: scale(1.1, 1.1) !important;
}
.contact_address_wrapper {
	padding-left: 100px;
}
.contact_address {
	margin: 0;
}
.contact_address li {
	color: #8e8e8e;
	font-size: 14px;
	line-height: 36px;
	margin-bottom: 5px;
	list-style: none;
}
.contact_address li i {
	font-size: 20px;
	color: #1cb9c8;
	vertical-align: middle;
	margin-right: 9px;
}

#section-contact .wpcf7 input[type="submit"] {
	letter-spacing: 0;
	text-transform: none;
	border-color: transparent;
	padding: 13px 60px;
	float: left;
	background: #1cb9c8;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #1cb9c8;
}

#section-contact .wpcf7 input[type="submit"]:hover {
	background: #fff;
	border: 1px solid #1cb9c8;
	color: #1cb9c8;
}
#section-contact input[type="text"],#section-contact  input[type="email"],#section-contact  input[type="password"],#section-contact  textarea {
	background-color: #ffffff;
	padding: 18px 15px !important;
	border: 1px solid #efeded;
	border-radius: 3px !important;
}
.portfolio-item-filter {
	margin-top: 10px;
}

.gdlr-navigation-wrapper .gdlr-main-menu > li > a:hover::before {
	height: 1px;
	width: calc(100% - 35px);
	border-radius: 0;
	bottom: 14px;
	opacity: 1;
	-webkit-transition: opacity .0s ease .0s, bottom .1s ease .0s, height .2s ease .2s, width .1s ease .2s, border-radius .2s ease .2s, left .2s ease .2s;
	-webkit-transition: opacity .0s ease .0s, bottom .2s ease .0s, height .2s ease .2s, width .2s ease .2s, border-radius .2s ease .2s, left .2s ease .2s;
	transition: opacity .0s ease .0s, bottom .2s ease .0s, height .2s ease .2s, width .2s ease .2s, border-radius .2s ease .2s, left .2s ease .2s;
}
.gdlr-navigation-wrapper .gdlr-main-menu > li > a::before {
	position: absolute;
	content: "";
	background: #0f1923;
	bottom: 25px;
	height: 5px;
	width: 5px;
	opacity: 0;
	border-radius: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: opacity .2s ease .0s, bottom .0s ease .2s, height .0s ease .2s, width .0s ease .2s, border-radius .0s ease .2s, left .0s ease .2s;
	transition: opacity .2s ease .0s, bottom .0s ease .2s, height .0s ease .2s, width .0s ease .2s, border-radius .0s ease .2s, left .0s ease .2s;
}
.gdlr-navigation-wrapper .gdlr-main-menu > li.menu-item-has-children:before {
	font-family: 'IcoFont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	content: "\eb25";
	right: 4px;
	top: 27px;
	color: white;
}
.gdlr-navigation-wrapper .gdlr-main-menu > li.menu-item-has-children:hover::before{
	color: #1b2932;
}

.gdlr-navigation-wrapper .gdlr-main-menu > li > a:hover{
	color: #1b2932;
}
.gdlr-main-menu > .gdlr-normal-menu li, .gdlr-main-menu > .gdlr-mega-menu .sf-mega {
	background-color: #1b2932;
}
.sf-menu > .gdlr-normal-menu li a {
	padding: 17px 15px;
	border-top-width: 1px;
	border-top-style: solid;
	zoom: 1;
}

.gdlr-main-menu > li > .sub-menu a, .gdlr-main-menu > li > .sf-mega a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
}


.owl-carousel .owl-item img {
	display: block;
	width: auto !important;
	-webkit-transform-style: preserve-3d;
	-webkit-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	cursor: pointer;
}

.owl-carousel .owl-item img:hover {
	-webkit-transform-style: preserve-3d;
	-webkit-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);

}


.owl-carousel .owl-item img {
	display: block;
	width: auto !important;
	-webkit-transform-style: preserve-3d;
}
.tcowl-wrap .tcowl-nav .owl-controls {
	display: none;
}
.footer-container {
	padding: 100px 0;
}
.footer-wrapper{
	position: relative;
}
.footer-wrapper:before{
	position: absolute;
	z-index: 0;
	left: 0;
	top:0;
	background: rgba(27,41,50,0.95);
	width: 100%;
	height: 100%;
	content: '';
}
.widget_recent_entries ul li, .widget_recent_comments ul li, .widget_pages ul li, .widget_rss ul li, .widget_archive ul li, .widget_categories ul li, .widget_nav_menu ul li, .widget_meta ul li {
	border-bottom-width: 0;

}

.widget_recent_entries ul li a{
	display: block;
}
.gdlr-header-wrapper{
	background-repeat: no-repeat;
	background-position-y: 116px;
	background-size: contain;
}
.breadcrumb a{
	color: white;
}
.breadcrumb{
	text-align: left;
}
header .gdlr-page-title-wrapper .gdlr-page-title-container .gdlr-page-title{
	margin: 11px 0 !important;
}
header .gdlr-page-title-wrapper .gdlr-page-title-container{
	margin-top: -79px;
}
#gdlr-responsive-navigation.dl-menuwrapper ul {
	background-color: #1f303b;
}

div.wpcf7-validation-errors {
	background: #fff1f1;
	margin: 0;
	padding: 5px;
	border: 1px solid #f9b9b9;
	float: left;
	width: 100%;
}
#section-portfolio{
	min-height: 500px;
}
.gdlr-now-loading {
	position: absolute;
	display: block;
	background: url(../images/dark/now-loading1.gif) center no-repeat;
	top: 300px;
	z-index: 11111;
	width: 100px;
	height: 100px;
	left: 50%;
	padding: 0;
	border-radius: 50%;
}
.section_title .title {
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	line-height: 36px;
	font-size: 30px;
	color: #0f1923;
	position: relative;
	margin-bottom: 43px;
}
.about_us_title h1 {
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	display: inline-block;
	position: relative;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 70px;
}
#section-contact .social_icons ul{margin: 0}
#section-contact .social_icons{
	margin-top: 25px;
	float: left;
}
.copyright-right ul li{display: inline-block;float: left;list-style: none;margin:0 5px;font-size: 15px; }
.footer-logo{
	margin-bottom:26px;

}

footer .es_widget_form .es_textbox,footer .es_widget_form .es_button{
	float: left;
	padding: 0;
}


#es_txt_button{
	margin: 0;
	padding: 0;
	width: 50px;
	line-height: 50px;
	background: #1cb9c8;
	border: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
footer .es_widget_form .es_caption{
	font-size: 13px;text-transform: capitalize;font-weight: bold;
}
footer .es_widget_form input[type="text"] {
	background: white;
	padding: 16px 5px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#footer-widget-1{
	width: 30%;
}
#footer-widget-2{
	width: 20%;
}
#es_widget_msg.es_msg{
	color: #76b941;float: left;
	width: 100%;
}
#es_txt_button.disable{
	pointer-events: none;
	opacity:.3;
}
.footer-wrapper .widget.gdlr-widget{
	margin-bottom: 30px;
}