@import url(https://fonts.googleapis.com/css?family=Exo:400,100,200,300,500,600,700,800,900);
/*son*/
.sf-menu {
	margin-left: 200px !important;
}
.gdlr-logo{
	position: fixed;
	width: 200px;
	padding-top: 11px;
	z-index: 2;
}.gdlr-navigation-wrapper.gdlr-fixed-nav{z-index: 1;}
.gdlr-page-title-wrapper {
	padding: 275px 0px 13px 0px;
	position: relative;
	text-align: center;
	line-height: 1;
	z-index: 1;
}
.gdlr-page-title, .gdlr-page-title-gimmick {
	color: #ffffff;
	background: rgba(0,0,0,0.3);
	width: 200%;
	margin-left: -50% !important;
}
.gdlr-video-item.gdlr-item {
	padding: 10px;
	border: 1px solid #ddd;
}
.msp-preset-btn-159:hover{
	color: #fff;
	box-shadow: 0 4px #ad4500;
}
.msp-preset-btn-159 {
	background-color: #ff6a00;
	color: #fff;
	box-shadow: 0 5px #ad4500;
	position: relative;
	opacity: 1;
	margin: 0px;
	padding: 8px 25px;
	font-size: 22px;
	width: 171px;
	border-radius: 5px;
}
.ms-slide-layers h3.shadow {text-shadow: 2px 2px 2px black;}
.ms-slide-layers {
	text-transform: uppercase;

}
.textwidget.social img{margin-right: 10px;}
.aligncenter {
	border-radius: 9px;
}
#hero-home,#service-home {border-top:5px solid #ECECEC}
#hero-home .gdlr-title-item .gdlr-item-title-wrapper .gdlr-item-title{font-size: 3em;color:white}
#hero-home .gdlr-item-title-wrapper.pos-center .gdlr-item-title-caption{margin: 5px;font-size: 1.5em ;color:white;}
.btn-lg-orange {
	width: 100%;
	color: #ffffff;
	background-color: #FA6C07 !important;
	border-color: #B95005;
	text-transform: uppercase;
	border-radius: 4px;
	box-shadow: 0 2px 0 #A24B0D;
}
#black_button a:hover {
	color: #fff;
	background-color: #333;
}
.text-center{text-align: center}
.gdlr-button{min-width: 200px;border-radius: 4px;text-align: center;}
#black_button a {
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	padding: 10px 20px;
	text-align: center;
	background-color: #121f1f;
	border: 1px solid #f2f2f2;
	font-weight: bold;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: 5px solid #000000;
	color: white;
	display: block;
	border-radius: 3px;
}
.master-slider-parent {
	padding-bottom: 0px !important;
	padding-top: 68px;
}
.gdlr-navigation-wrapper {
	background: rgb(255, 255, 255);
}
.overlay .ms-slide-bgcont{position: relative}
.overlay .ms-slide-bgcont:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.6); /*dim the background*/
}
.overlay .ms-slide-layers h1,.overlay .ms-slide-layers h2{
	position: relative;z-index: 10;color: white;text-shadow: none !important;
}
.btn-slider{
	background-color: #00a08b;
	border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-ms-border-radius: 0px 0px 0px 0px;
	-o-border-radius: 0px 0px 0px 0px;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 17px;
	font-weight: 600;
	margin-right: 15px;
	overflow: hidden;
	outline: 0;
	padding: 0 0;
	position: relative;
	z-index: 2;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 17px 43px;
	color: white;
	text-shadow: none;
}

.btn-slider:hover{
	color: white;
}
.exo{
	font-family: 'Exo', sans-serif;
}
/*son*/
